<% provide(:title, 'Home') %>

<h1>Welcome to flickr photo search !</h1>
<div class="form">
  <%= render :partial => 'form' %>
</div>

<div class="notice">
  <%= flash[:notice] %>
</div>


<div class="search_result">
  <% @flickr_images.each do |image| %>
  <div class="each_image"><%=image_tag(image.thumbnail_url, :size => '75x75')%></div><br>
  <%end if @flickr_images%>

<div>

