<% provide(:title, 'Home') %>

<div id="header">
  <i class="fa fa-camera-retro fa-5x"></i>
  <h1>Flickr Photo Search!</h1>

  <div class="form">
    <%= render :partial => 'form' %>
  </div>

<div class="notice">
  <%= flash[:notice] %>
</div>

<!-- click thumbnail image and open new tab to see larger image -->
<div class="search_result">
  <% @images.each do |image| %>
  <div class="single_image">

    <!-- Send the data to js & contoroller -->
    <%= link_to (image_tag(image.thumbnail_url, :size => '75x75')), largeimage_path, :id => image.id, :remote => true %>
    <!-- Send data jQuery-UJS way -->
    <%#= link_to (image_tag(image.thumbnail_url, :size => '75x75')), largeimage_path, "data-params"=> {:limage =>  image.original_url, :limageid => image.id, :limagetitle=> image.title} %>
 </div>
  <%end if @images%>
</div>

<div id="page_style">
  <% if @images %>
    <%= will_paginate @images %>
  <% end %>
</div>

<div class="large"></div>

<input type="text" name="name" data-remote
 data-url="ajax.php"
 data-method="post"
 data-params="foo=bar"
>
<a href="ajax.php" data-remote>link</a>





