<% provide(:title, 'Home') %>

<div id="header">
  <i class="fa fa-camera-retro fa-5x"></i>
  <h1>Flickr Photo Search!</h1>

  <div class="form">
    <%= render :partial => 'form' %>
  </div>

<div class="notice">
  <%= flash[:notice] %>
</div>

<!-- click thumbnail image and open new tab to see larger image -->
<div class="search_result">
  <% @images.each do |image| %>
  <div class="single_image">

    <!-- Send the data to js & contoroller -->
    <%#= link_to (image_tag(image.thumbnail_url, :size => '75x75')), largeimage_path(limageurl: image.original_url, limageid: image.id, limagetitle: image.title), remote: :true %>

      <%= link_to (image_tag(image.thumbnail_url, :size => '75x75')), largeimage_path, data: {remote: :true, type: :json, params: {limageurl: image.original_url, limageid: image.id, limagetitle: image.title}.to_param} %>



<!-- , limageid: image.id, limagetitle: image.title
 -->
    <%#= link_to (image_tag(image.thumbnail_url, :size => '75x75')), largeimage_path, "data-params" => {limage:  image.original_url, limageid: image.id, limagetitle: image.title}, type: :json%>
    <!-- Send data jQuery-UJS way -->
    <%#= link_to (image_tag(image.thumbnail_url, :size => '75x75')), largeimage_path, "data-params"=> {:limage =>  image.original_url, :limageid => image.id, :limagetitle=> image.title} %>
 </div>
  <%end if @images%>
</div>

<div id="page_style">
  <% if @images %>
    <%= will_paginate @images %>
  <% end %>
</div>

<div class="large"></div>






