<% provide(:title, 'Home') %>

<div id="header">
  <i class="fa fa-camera-retro fa-5x"></i>
  <h1>Flickr Photo Search!</h1>

  <div class="form">
    <%= render :partial => 'form' %>
  </div>

<div class="notice">
  <%= flash[:notice] %>
</div>

<!-- click thumbnail image and open new tab to see larger image -->
<div class="search_result">
  <% @images.each do |image| %>
  <div class="single_image">

    <!-- Send the data to js & contoroller -->
    <%= link_to (image_tag(image.thumbnail_url, :size => '75x75')), limage_path(:data => image.original_url, :id => image.id, :title => image.title), :remote => true %>
 </div>
  <%end if @images%>

</div>
<% if @images %>
<%= will_paginate @images %>
<% end %>
<div class="large"></div>





