.container-fluid{
  max-width:90%;
  height: 100%;
  border: 1px solid transparent;
  margin: 0 auto;

  #header{
    max-width: 100%;
    border: 1px solid transparent;

    i {
      border: 1px solid transparent;
      vertical-align: middle;
      margin-left: 0.1em;
    }

    h1{
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      height: 100%;
      border: 1px solid transparent;
    }
    .form{
      display: inline-block;
      vertical-align: middle;
      width: 40%;
      height: 100%;
      border: 1px solid transparent;

      .tag_size{
        border:1px solid transparent;
        height: 50%;
        height: 100%;
        .search {
          display: inline-block;
          vertical-align: middle;
            & input{
            height: 50%;
            width: 100%;
            border: 1px solid transparent;
            padding: 0.1em;
            font-size: 1.5em;
            text-align: center;
            -moz-border-radius:28px;
            -webkit-border-radius:28px;
            border-radius:28px;
            border:1px solid #fff;
            }
        }
        .submit {
          display: inline-block;
          vertical-align: middle;
          margin-left: 0.5em;
            & input{
            // border:1px solid red;
            height: 50%;
            width: 100%;
            padding:0.5em;
            font-size: 1em;
            background-color: #427EF2;
            color: #fff;
            -moz-border-radius:28px;
            -webkit-border-radius:28px;
            border-radius:28px;
            border:1px solid #427EF2;

          }
        }
      }
    }

  }

  .search_result{
    width: 60%;
    border: 1px solid transparent;
    margin-top: 5px;
    padding: 0.5em;
    display: inline-block;
    vertical-align: top;

      .single_image{
      display: inline-block;
      vertical-align:top;
      width: 76px;
      height: 76px;
      // border: 1px solid transparent;
      }
    }

  .render_large{
    width: 30%;
    border: 1px solid red;
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;

    .largeformat{
      width: 95%;
      border:1px solid yellow;
      padding: 0.2em;
      margin: 0 auto;
      text-align: center;

      .larger{
        width: 100%;
        margin: 0 auto;

      }

    }

  }
  #large{
    border: 1px solid yellow;
  }

}










