// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #232920;
}

h1{
  color: #FEFFE4;
}

.search_result{
  width: 90%;
  border: 1px solid white;
  margin: 0 auto;
  .each_image{
    width: 76px;
    height: 76px;
    border: 1px solid #FEFF47;

  }
}