@import url(http://fonts.googleapis.com/css?family=Fira+Sans:700italic);



body { background-color: #7A7C7D; }

h1{
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
  color: #15F9DF;
  text-shadow: 4px 4px 4px #2A2B2B;
}






